body, .modal-content {
    background: #303030;
}

.bg-info {
    background: #2A2A2A !important;
}

.container {
    background: #333;
    color: #FFF;
}

.word-wrap {
    word-wrap: break-word;
}

.title-bar {
    font-weight: bold;
    border-bottom: solid 2px #999;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.log-line {
    border-bottom: solid 1px #999;
    padding-top: 8px;
    padding-bottom: 10px;
}

.log-line:hover, table.table-hover tr td:hover, .bg-danger:hover {
    background: #2A2A2A;
}

.log-line:first-child {
    padding-top: 20px;
}

.bg-danger {
    background: #D5715A !important;
}

.btn-download {
    font-size: 18px;
}

.footer {
    border-top: solid 2px #BCD42B;
    color: #BCD42B;
    padding: 10px;
}

a {
    color: #4AB1B1 !important;
}

/*Pagination*/
ul.pagination li {
    background: #4AB1B1 !important;
}

.pagination > li:last-child > a, .pagination > li:first-child > a {
    opacity: 0.9;
}
.pagination > .disabled > span {
    background: #4AB1B1 !important;
    opacity: 0.3;
    color: #FFF !important;
}
.pagination > .active > span, .pagination > li:last-child > a {
    background: #4AB1B1 !important;
    color: #FFF !important;
}

/*Close Modal*/
.close-button {
    background: #BCD42B !important;
    color: #000;
}